* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    outline: 0px;
    text-decoration: none;
    color: black;
    list-style-type: none;
    transition-duration: 0.5s;
}

body {
    background-color: var(--seccondary);

    --background:#fee0ff;
    --background:#FFFFFF;
    --seccondary:#FFB8D1;
    --seccondary2:#EECCEE;
    --accent:#6F2238;
    --shade:#E0E1E9;

    overflow-x: hidden;
}

/* ⁡⁢⁣⁣//////////////////////// INDEX  /////////////////////////⁡ */

header{
    display: flex;
    justify-content: space-around;
    background-color: var(--seccondary);
    padding: 1vw;
}
#logInPopUp,#registerPopUp{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
ul{
    display: flex;
    gap: 1vw;
}
ul a{
    color: var(--accent);
}
#main{
    width: 100vw;
    display: flex;
    padding: 0vw 10vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    text-align: center;
}
#greskaLogin{
    display: flex;
    flex-direction: column;
}
#greskaLogin p{
    color: red;
}
/* ⁡⁣⁣⁢/////////////////////////////////////////////////////////////////////////⁡ */